<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>keto</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item ">
                                 <a class="nav-link" href="index.html">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="about.html">About</a>
                              </li>
                              <li class="nav-item active">
                                 <a class="nav-link" href="Appartement.html">Our Appartement</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="gallery.html">Gallery</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="blog.html">Blog</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="contact.html">Contact Us</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Our Appartement</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- our_room -->
      <div  class="our_room">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p  class="margin_0">Lorem Ipsum available, but the majority have suffered </p>
                  </div>
               </div>
            </div>
            <div class="row" id="filterResults">
               <div class="col-md-12" id="filterInfo" style="display:none; margin-bottom: 20px;">
                  <div class="alert alert-info">
                     <strong>Search Results:</strong> 
                     <span id="filterDetails"></span>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 appartement-item" data-city="paris" data-max-guests="2">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="images/room1.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Appartement Paris - Studio</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                        <p><strong>City:</strong> Paris | <strong>Max Guests:</strong> 2</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 appartement-item" data-city="lyon" data-max-guests="4">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="images/room2.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Appartement Lyon - 2 Bedrooms</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                        <p><strong>City:</strong> Lyon | <strong>Max Guests:</strong> 4</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 appartement-item" data-city="marseille" data-max-guests="3">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="images/room3.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Appartement Marseille - 1 Bedroom</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                        <p><strong>City:</strong> Marseille | <strong>Max Guests:</strong> 3</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 appartement-item" data-city="toulouse" data-max-guests="5">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="images/room4.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Appartement Toulouse - 3 Bedrooms</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                        <p><strong>City:</strong> Toulouse | <strong>Max Guests:</strong> 5</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 appartement-item" data-city="nice" data-max-guests="2">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="images/room5.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Appartement Nice - Studio</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                        <p><strong>City:</strong> Nice | <strong>Max Guests:</strong> 2</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 appartement-item" data-city="bordeaux" data-max-guests="6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="images/room6.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Appartement Bordeaux - 4 Bedrooms</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                        <p><strong>City:</strong> Bordeaux | <strong>Max Guests:</strong> 6</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" id="noResults" style="display:none;">
               <div class="col-md-12">
                  <div class="alert alert-warning">
                     <h4>No appartements found matching your criteria.</h4>
                     <p>Please try adjusting your search filters.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end our_room -->
     
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class=" col-md-4">
                     <h3>Contact US</h3>
                     <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Address</li>
                        <li><i class="fa fa-mobile" aria-hidden="true"></i> +01 1234569540</li>
                        <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a></li>
                     </ul>
                  </div>
                  <div class="col-md-4">
                     <h3>Menu Link</h3>
                     <ul class="link_menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="about.html"> about</a></li>
                        <li class="active"><a href="Appartement.html">Our Appartement</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                     </ul>
                  </div>
                  <div class="col-md-4">
                     <h3>News letter</h3>
                     <form class="bottom_form">
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">subscribe</button>
                     </form>
                     <ul class="social_icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-10 offset-md-1">
                        <p>
                           © 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a>
                           <br><br>
                           Distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                           </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script>
         // Filter appartements based on URL parameters
         $(document).ready(function() {
            function getUrlParameter(name) {
               name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
               var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
               var results = regex.exec(location.search);
               return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            }
            
            var city = getUrlParameter('city');
            var checkin = getUrlParameter('checkin');
            var checkout = getUrlParameter('checkout');
            var guests = getUrlParameter('guests');
            
            // If filters are present, apply them
            if (city || checkin || checkout || guests) {
               var filterDetails = [];
               if (city) filterDetails.push('City: ' + city.charAt(0).toUpperCase() + city.slice(1));
               if (checkin) filterDetails.push('Check-in: ' + checkin);
               if (checkout) filterDetails.push('Check-out: ' + checkout);
               if (guests) filterDetails.push('Guests: ' + guests);
               
               $('#filterDetails').text(filterDetails.join(' | '));
               $('#filterInfo').show();
               
               // Filter appartements
               var visibleCount = 0;
               $('.appartement-item').each(function() {
                  var $item = $(this);
                  var itemCity = $item.data('city');
                  var maxGuests = parseInt($item.data('max-guests')) || 999;
                  
                  var showItem = true;
                  
                  // Filter by city
                  if (city && itemCity !== city) {
                     showItem = false;
                  }
                  
                  // Filter by number of guests
                  if (guests && parseInt(guests) > maxGuests) {
                     showItem = false;
                  }
                  
                  if (showItem) {
                     $item.show();
                     visibleCount++;
                  } else {
                     $item.hide();
                  }
               });
               
               // Show no results message if nothing matches
               if (visibleCount === 0) {
                  $('#noResults').show();
                  $('#filterResults').hide();
               } else {
                  $('#noResults').hide();
                  $('#filterResults').show();
               }
            } else {
               // No filters, show all
               $('.appartement-item').show();
               $('#filterInfo').hide();
               $('#noResults').hide();
            }
         });
      </script>
   </body>
</html>